## Prepearing Levada data for merging

In [2]:
import numpy as np
import pandas as pd

In [3]:
#get levada-centr data and prepeare it for merging
lev = pd.read_csv("levada.csv")
lev.head()

         Date  Very Good  Good  Bad  Very Bad  Hard to answer
0  2020-01-01          6    36   27        20              11
1  2019-09-01          9    47   19        12              13
2  2019-02-01          4    30   30        25              10
3  2018-11-01          3    25   31        29              11
4  2018-09-01          3    30   32        23              12

In [4]:
lev['Date'] = pd.to_datetime(lev["Date"])
lev.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            32 non-null     datetime64[ns]
 1   Very Good       32 non-null     int64
 2   Good            32 non-null     int64
 3   Bad             32 non-null     int64
 4   Very Bad        32 non-null     int64
 5   Hard to answer  32 non-null     int64
dtypes: datetime64[ns](1), int64(5)
memory usage: 1.6 KB

In [5]:
groupLev = lev.groupby([lev.Date.dt.year, lev.Date.dt.month]).mean() #may 2016 has two results in levada.csv
groupLev

           Very Good  Good   Bad  Very Bad  Hard to answer
Date Date
2012 9           8.0  66.0  14.0       3.0            10.0
2013 3           8.0  61.0  19.0       3.0             9.0
     9           7.0  62.0  20.0       3.0             8.0
2014 3           6.0  46.0  28.0       9.0            11.0
     5           5.0  30.0  33.0      16.0            17.0
     9           3.0  29.0  39.0      16.0            13.0
     11          3.0  25.0  40.0      19.0            12.0
2015 3           3.0  28.0  34.0      21.0            13.0
     5           3.0  23.0  36.0      23.0            14.0
     9           4.0  29.0  36.0      20.0            11.0
     11          2.0  25.0  42.0      21.0            10.0
2016 1           2.0  26.0  37.0      22.0            14.0
     3           2.0  23.0  42.0      22.0            11.0
     5           3.0  29.5  41.0      14.0            12.5
     7           4.0  37.0  33.0      11.0            16.0
     8           2.0  29.0  36.0      22.0            11.0
     9           2.0  24.0  38.0      18.0            17.0
     11          3.0  30.0  35.0      16.0            16.0
2017 1           2.0  31.0  39.0      15.0            13.0
     3           3.0  31.0  36.0      20.0            11.0
     5           2.0  24.0  39.0      20.0            15.0
     9           3.0  29.0  33.0      20.0            15.0
     12          2.0  26.0  39.0      17.0            17.0
2018 1           3.0  32.0  34.0      13.0            18.0
     3           2.0  31.0  35.0      20.0            12.0
     7           4.0  33.0  29.0      20.0            15.0
     9           3.0  30.0  32.0      23.0            12.0
     11          3.0  25.0  31.0      29.0            11.0
2019 2           4.0  30.0  30.0      25.0            10.0
     9           9.0  47.0  19.0      12.0            13.0
2020 1           6.0  36.0  27.0      20.0            11.0

In [6]:
#getting dates as columns
groupLev.index.rename(['year','month'], inplace = True)
groupLev.reset_index(inplace=True)
groupLev

    year  month  Very Good  Good   Bad  Very Bad  Hard to answer
0   2012      9        8.0  66.0  14.0       3.0            10.0
1   2013      3        8.0  61.0  19.0       3.0             9.0
2   2013      9        7.0  62.0  20.0       3.0             8.0
3   2014      3        6.0  46.0  28.0       9.0            11.0
4   2014      5        5.0  30.0  33.0      16.0            17.0
5   2014      9        3.0  29.0  39.0      16.0            13.0
6   2014     11        3.0  25.0  40.0      19.0            12.0
7   2015      3        3.0  28.0  34.0      21.0            13.0
8   2015      5        3.0  23.0  36.0      23.0            14.0
9   2015      9        4.0  29.0  36.0      20.0            11.0
10  2015     11        2.0  25.0  42.0      21.0            10.0
11  2016      1        2.0  26.0  37.0      22.0            14.0
12  2016      3        2.0  23.0  42.0      22.0            11.0
13  2016      5        3.0  29.5  41.0      14.0            12.5
14  2016      7        4.0  37.0  33.0      11.0            16.0
15  2016      8        2.0  29.0  36.0      22.0            11.0
16  2016      9        2.0  24.0  38.0      18.0            17.0
17  2016     11        3.0  30.0  35.0      16.0            16.0
18  2017      1        2.0  31.0  39.0      15.0            13.0
19  2017      3        3.0  31.0  36.0      20.0            11.0
20  2017      5        2.0  24.0  39.0      20.0            15.0
21  2017      9        3.0  29.0  33.0      20.0            15.0
22  2017     12        2.0  26.0  39.0      17.0            17.0
23  2018      1        3.0  32.0  34.0      13.0            18.0
24  2018      3        2.0  31.0  35.0      20.0            12.0
25  2018      7        4.0  33.0  29.0      20.0            15.0
26  2018      9        3.0  30.0  32.0      23.0            12.0
27  2018     11        3.0  25.0  31.0      29.0            11.0
28  2019      2        4.0  30.0  30.0      25.0            10.0
29  2019      9        9.0  47.0  19.0      12.0            13.0
30  2020      1        6.0  36.0  27.0      20.0            11.0

## Aggregating main data and prepearing it for merging

In [8]:
res = pd.read_csv('RESULT.csv')
res.head()

,text,date,Negative,Positive,Neutral
0,Президент Украины Владимир Зеленский поручил п...,2020-07-30,0.0,1.0,1.0
1,На границе с Украиной контрабандист попытался ...,2020-07-31,1.0,0.0,1.0
2,Члены комитета сената США по иностранным делам...,2020-07-31,0.0,0.0,1.0
3,Девять задержанных в Белоруссии граждан Украин...,2020-07-31,1.0,0.0,0.0
4,Офис генпрокурора Украины обратился к Минску с...,2020-07-31,1.0,0.0,0.0

In [9]:
res["date"] = pd.to_datetime(res["date"])
res.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19730 entries, 0 to 19729
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   text      19730 non-null  object
 1   date      19730 non-null  datetime64[ns]
 2   Negative  19730 non-null  float64
 3   Positive  19730 non-null  float64
 4   Neutral   19730 non-null  float64
dtypes: datetime64[ns](1), float64(3), object(1)
memory usage: 770.8+ KB

In [10]:
groupRes = res.groupby([res.date.dt.year, res.date.dt.month]).sum() #getting count of each article type each month

In [11]:
groupRes.index.rename(['year','month'], inplace = True)
groupRes.reset_index(inplace=True)
groupRes

     year  month  Negative  Positive  Neutral
0    2007      1       1.0       3.0     12.0
1    2007      2       0.0       2.0     14.0
2    2007      3       7.0       6.0     17.0
3    2007      4       6.0      13.0     52.0
4    2007      5       9.0      12.0     29.0
..    ...    ...       ...       ...      ...
158  2020      3      32.0       9.0     70.0
159  2020      4       9.0       6.0     31.0
160  2020      5      13.0      14.0     58.0
161  2020      6      20.0      14.0     61.0
162  2020      7      36.0      21.0     79.0

[163 rows x 5 columns]

## Merging data and creating correlation table

In [12]:
#merge data
dataLev = pd.merge(groupLev, groupRes, on = ['year','month'])

In [13]:
dataLev.head()

,year,month,Very Good,Good,Bad,Very Bad,Hard to answer,Negative,Positive,Neutral
0,2012,9,8.0,66.0,14.0,3.0,10.0,5.0,3.0,8.0
1,2013,3,8.0,61.0,19.0,3.0,9.0,8.0,6.0,14.0
2,2013,9,7.0,62.0,20.0,3.0,8.0,4.0,11.0,16.0
3,2014,3,6.0,46.0,28.0,9.0,11.0,96.0,119.0,411.0
4,2014,5,5.0,30.0,33.0,16.0,17.0,85.0,72.0,172.0

In [14]:
#making columns with percentages of articles of each type
dataLev['NegPercentage'] = dataLev['Negative']/(dataLev['Negative']+dataLev['Positive']+ dataLev['Neutral'])
dataLev['PosPercentage'] = dataLev['Positive']/(dataLev['Negative']+dataLev['Positive']+ dataLev['Neutral'])
dataLev['NeuPercentage'] = dataLev['Neutral']/(dataLev['Negative']+dataLev['Positive']+ dataLev['Neutral'])
dataLev = dataLev.drop(index = [0,1]) #those two observations are going to be severe outliers
dataLev.head()

,year,month,Very Good,Good,Bad,Very Bad,Hard to answer,Negative,Positive,Neutral,NegPercentage,PosPercentage,NeuPercentage
2,2013,9,7.0,62.0,20.0,3.0,8.0,4.0,11.0,16.0,0.129032,0.354839,0.516129
3,2014,3,6.0,46.0,28.0,9.0,11.0,96.0,119.0,411.0,0.153355,0.190096,0.656550
4,2014,5,5.0,30.0,33.0,16.0,17.0,85.0,72.0,172.0,0.258359,0.218845,0.522796
5,2014,9,3.0,29.0,39.0,16.0,13.0,51.0,35.0,139.0,0.226667,0.155556,0.617778
6,2014,11,3.0,25.0,40.0,19.0,12.0,37.0,45.0,167.0,0.148594,0.180723,0.670683

In [15]:
dataLev.to_csv("fullLevadaPrepeared.csv")

In [23]:
#getting correlation table with categories united
dataLev["GoodAll"] = dataLev["Good"] + dataLev["Very Good"]
dataLev["BadAll"] = dataLev["Bad"] + dataLev["Very Bad"]
dataLev

,year,month,Very Good,Good,Bad,Very Bad,Hard to answer,Negative,Positive,Neutral,NegPercentage,PosPercentage,NeuPercentage,GoodAll,BadAll
2,2013,9,7.0,62.0,20.0,3.0,8.0,4.0,11.0,16.0,0.129032,0.354839,0.516129,69.0,23.0
3,2014,3,6.0,46.0,28.0,9.0,11.0,96.0,119.0,411.0,0.153355,0.190096,0.656550,52.0,37.0
4,2014,5,5.0,30.0,33.0,16.0,17.0,85.0,72.0,172.0,0.258359,0.218845,0.522796,35.0,49.0
5,2014,9,3.0,29.0,39.0,16.0,13.0,51.0,35.0,139.0,0.226667,0.155556,0.617778,32.0,55.0
6,2014,11,3.0,25.0,40.0,19.0,12.0,37.0,45.0,167.0,0.148594,0.180723,0.670683,28.0,59.0
7,2015,3,3.0,28.0,34.0,21.0,13.0,45.0,32.0,170.0,0.182186,0.129555,0.688259,31.0,55.0
8,2015,5,3.0,23.0,36.0,23.0,14.0,70.0,34.0,144.0,0.282258,0.137097,0.580645,26.0,59.0
9,2015,9,4.0,29.0,36.0,20.0,11.0,56.0,38.0,169.0,0.212928,0.144487,0.642586,33.0,56.0
10,2015,11,2.0,25.0,42.0,21.0,10.0,36.0,12.0,84.0,0.272727,0.090909,0.636364,27.0,63.0
11,2016,1,2.0,26.0,37.0,22.0,14.0,16.0,12.0,72.0,0.160000,0.120000,0.720000,28.0,59.0
12,2016,3,2.0,23.0,42.0,22.0,11.0,49.0,19.0,86.0,0.318182,0.123377,0.558442,25.0,64.0
13,2016,5,3.0,29.5,41.0,14.0,12.5,24.0,21.0,74.0,0.201681,0.176471,0.621849,32.5,55.0
14,2016,7,4.0,37.0,33.0,11.0,16.0,32.0,16.0,70.0,0.271186,0.135593,0.593220,41.0,44.0
15,2016,8,2.0,29.0,36.0,22.0,11.0,36.0,17.0,91.0,0.250000,0.118056,0.631944,31.0,58.0
16,2016,9,2.0,24.0,38.0,18.0,17.0,17.0,11.0,66.0,0.180851,0.117021,0.702128,26.0,56.0
17,2016,11,3.0,30.0,35.0,16.0,16.0,29.0,18.0,70.0,0.247863,0.153846,0.598291,33.0,51.0
18,2017,1,2.0,31.0,39.0,15.0,13.0,18.0,6.0,58.0,0.219512,0.073171,0.707317,33.0,54.0
19,2017,3,3.0,31.0,36.0,20.0,11.0,53.0,26.0,129.0,0.254808,0.125000,0.620192,34.0,56.0
20,2017,5,2.0,24.0,39.0,20.0,15.0,44.0,33.0,106.0,0.240437,0.180328,0.579235,26.0,59.0
21,2017,9,3.0,29.0,33.0,20.0,15.0,75.0,25.0,115.0,0.348837,0.116279,0.534884,32.0,53.0
22,2017,12,2.0,26.0,39.0,17.0,17.0,49.0,14.0,101.0,0.298780,0.085366,0.615854,28.0,56.0
23,2018,1,3.0,32.0,34.0,13.0,18.0,30.0,14.0,62.0,0.283019,0.132075,0.584906,35.0,47.0
24,2018,3,2.0,31.0,35.0,20.0,12.0,43.0,16.0,127.0,0.231183,0.086022,0.682796,33.0,55.0
25,2018,7,4.0,33.0,29.0,20.0,15.0,31.0,29.0,87.0,0.210884,0.197279,0.591837,37.0,49.0
26,2018,9,3.0,30.0,32.0,23.0,12.0,29.0,19.0,82.0,0.223077,0.146154,0.630769,33.0,55.0
27,2018,11,3.0,25.0,31.0,29.0,11.0,60.0,22.0,125.0,0.289855,0.106280,0.603865,28.0,60.0
28,2019,2,4.0,30.0,30.0,25.0,10.0,33.0,18.0,95.0,0.226027,0.123288,0.650685,34.0,55.0
29,2019,9,9.0,47.0,19.0,12.0,13.0,48.0,61.0,170.0,0.172043,0.218638,0.609319,56.0,31.0
30,2020,1,6.0,36.0,27.0,20.0,11.0,34.0,29.0,83.0,0.232877,0.198630,0.568493,42.0,47.0

In [27]:
corTable = dataLev[dataLev.columns[2:]].corr()
finalcor = corTable[["NegPercentage" ,"PosPercentage" ,"NeuPercentage"]].loc[['Hard to answer', 'GoodAll', 'BadAll'],:]

In [29]:
finalcor.to_csv("corTableUnitedCategories.csv")

In [28]:
finalcor

                NegPercentage  PosPercentage  NeuPercentage
Hard to answer       0.297729      -0.213920      -0.072274
GoodAll             -0.487233       0.765648      -0.316707
BadAll               0.448695      -0.752671       0.341462